.card {
    background: #fff;
    padding: 1rem;
    // margin-top: 1rem;
  }
  .active {
    background-image: url("../../public/images/selected.png");
    background-size: cover;
  }
  .header {
    color: #2222 !important;
    font-size: 22px;
  }
  .checkbox {
  }