.stripe {
    button {
      margin-top: 1rem;
      height: 45px;
      width: 100%;
      background: $blue-color;
      cursor: pointer;
      border: 1px solid transparent;
      color: #fff;
      font-weight: 600;
      transition: all 0.2s;
      &:hover {
        background: #0A6EBD;
        // border-color: #222;
        color: #fff;
      }
    }
    .error {
      padding: 0;
    }
  }